{% extends "::layout.html.twig" %}
{% block container%}
    {{parent()}}
    {{texto}}

    {#  ESTO ES UN COMENTARIO #}

    <hr/>

    {{fruta.pera}}
    {% if fruta.pera == "rica" %}
        {{fruta.manzana}}
    {% endif %}

    {% if fruta.pera starts with "r" %}
        {{fruta.manzana}}
    {% endif %}

    {% if fruta.pera ends with "r" %}
        {{fruta.manzana}}
    {% endif %}

    <hr/>

    {% set variable = "Hola TWIG" %}
    {{variable}}
    <hr/>

    {% if productos|length > 0 %}
    <ul>
    {% for producto in productos %}
        <li>{{producto.producto}} - Precio: {{producto.precio}}€</li>
    {% endfor %}
    </ul>
    {% endif %}
    <hr/>

    {% set fecha = date("-2 days","Europe/Madrid") %}
    {% set texto = " asdas  dasda àa .   ,adawda a.ddwa " %}
    {{fecha.date|date("d-m-y")}}
    {{texto|trim(",")}}
    {{texto|reverse()}}
    {{dump(fecha)}}
    <hr/>

    {{include('AppBundle:pruebas:partial.html.twig')}}

    {{ max([76,99,58])}}
    <hr/>
    
    {{ min([76,99,58])}}
    <hr/>

    {{ random(1000)}}
    <hr/>

    {{random(["batman","marvel","flash"])}}
    <hr/>

    {% for i in range(0,5,2) %}
        {{i}}<br/>
    {% endfor %}


    {{generateTable(productos) | raw}}
    

    {{"cadena de texto"|addText(2)}}

{%endblock%} 